@import url('https://fonts.googleapis.com/css2?family=Exo:wght@400;700&family=Nunito+Sans:opsz,wght@6..12,300&display=swap');

:root{
    --font-titles: 'Exo', sans-serif;
    --font-texts: 'Nunito Sans', sans-serif;
    --font-color: #000;
    --font-hover-color: #3800a6;
    --bg-color: #EDE4FF;
    --light-effect: #f7f4ff;
    --shadow-effect: #d1c5e9;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--font-texts);
    color: var(--font-color);
    list-style: none;
    text-decoration: none;
    background-color: var(--bg-color);
}

body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/* HEADER */
header{
    position: fixed;
    top: 0;
    width: 90vw;    
    padding: 1rem 2rem;
    font-family: var(--font-titles);
}

/* NAV */
.navbar{
    width: 100%;
    height: auto;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* NAV LOGO */
.navbar .logo{
    display: flex;
    align-items: center;
    gap: 1.25rem;
    font-weight: 700;
    font-family: var(--font-titles);
    font-size: 1.5rem;
}

.navbar .logo img{
    width: 3rem;
}

.navbar .logo .traco{
    height: 1.7em;
    border: 2px solid var(--font-color);
    border-radius: 2px;
}

/* NAV NAVIGATION */
.navbar .links{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
    font-weight: 700;
}

li a{
    background-image: linear-gradient(
        to bottom,
        transparent 0%,
        transparent 90%,
        var(--font-hover-color) 90%,
        var(--font-hover-color) 100%
    );

    background-repeat: no-repeat;
    background-size: 0% 100%;
    background-position-x: right;

    transition: background-size 300ms;
}

li a:hover{
    color: var(--font-hover-color);
    background-size: 100% 100%;
    background-position-x: left;
}

/* NAV SOCIAL MEDIAS */
.social_medias{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.62rem;
}

.social_medias li{
    padding-top: 0.31rem;
}

.social_medias img{
    width: 1.2rem;
}

  /* TOGGLE THEMME */
.label {
    display: inline-flex;
    align-items: center;
    cursor: pointer;
    color: #394a56;
}

.label-text {
    margin-left: 1rem;
}

.toggle_theme{
    isolation: isolate;
    position: relative;
    height: 20px;
    width: 40px;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: -8px -4px 8px 0px var(--light-effect),
    8px 4px 12px 0px var(--shadow-effect),
    4px 4px 4px 0px var(--shadow-effect) inset,
    -4px -4px 4px 0px var(--light-effect) inset;
}

.toggle_theme-state {
    display: none;
}

.indicator {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 4px;
    height: 100%;
    width: 200%;
    background: var(--bg-color);
    border-radius: 10px;
    transform: translate3d(-75%, 0, 0);
    transition: transform 0.4s cubic-bezier(0.85, 0.05, 0.18, 1.35);
    box-shadow: -8px -4px 8px 0px var(--light-effect),
    8px 4px 12px 0px var(--shadow-effect);
}

.indicator i{
    border-radius: 10px;
    font-size: 1rem;
}

.toggle_theme-state:checked ~ .indicator{
    transform: translate3d(25%, 0, 0);
}

/* NAV TOGGLE */
.navbar .nav_toggle_btn{
    font-size: 1.5rem;
    cursor: pointer;
    display: none;
}

/* DROPDOWN MENU */
.dropddown_menu{
    display: none;
    position: absolute;
    right: 2rem;
    top: 60px;
    height: 0;
    width: 300px;
    border-radius: 10px;
    overflow: hidden;
    transition: height .2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.dropddown_menu.open{
    height: auto;
}

.dropddown_menu li{
    padding: 0.7rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.dropddown_menu, .dropddown_menu li{
    background-color: rgba(255, 255, 255, 0.4);
}

.dropddown_menu li a{
    background-color: rgba(255, 255, 255, 0.1);
}

.dropddown_menu li ul, .dropddown_menu li .social_medias > *{
    background-color: rgba(255, 255, 255, 0.0);
}

.dropddown_menu li .social_medias li a img{
    background-color: rgba(255, 255, 255, 0.2);
}

/* MAIN */
.apresentacao{
    width: 90vw;
    margin-top: 6.5rem;
    padding: 1rem 2rem;
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 1.5rem; 
}

.apresentacao_conteudo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2.5rem;
    /* width: 70%; */
}

.apresentacao_conteudo_titulo{
    font-family: var(--font-titles);
    line-height: 2.5rem;
    font-size: 2rem;
}

.apresentacao_conteudo_btns{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;
}

.apresentacao_conteudo_btns .social_medias{
    display: flex;
    align-items: center;
    gap: 0.8rem;
}

.apresentacao_conteudo_btns .social_medias li a{
    position: relative;
    display: grid;
    place-items: center;
    padding: 10px;
    border: none;
    background: var(--bg-color);
    box-shadow: -8px -4px 8px 0px var(--light-effect),
    8px 4px 12px 0px var(--shadow-effect);
    border-radius: 50%;
    transition: all .2s;
}

.apresentacao_conteudo_btns .social_medias li a:active, .apresentacao_conteudo_btns .curriculo:active{
    box-shadow: -8px -4px 8px 0px var(--light-effect),
    8px 4px 12px 0px var(--shadow-effect),
    4px 4px 4px 0px var(--shadow-effect) inset,
    -4px -4px 4px 0px var(--light-effect) inset;
}

.apresentacao_conteudo_btns .curriculo{
    width: 12rem;
    height: 2.4em;
    border-radius: 30em;
    border: none;
    position: relative;
    box-shadow: -8px -4px 8px 0px var(--light-effect),
    8px 4px 12px 0px var(--shadow-effect);
    transition: all .2s;
    font-family: var(--font-texts);
    font-size: 1rem;
    font-weight: 600;
    display: grid;
    place-items: center;
    cursor: pointer; 
}

.apresentacao_icon{
    width: 25rem;
}

@media(max-width:992px){
    .navbar .links{
        display: none;
    }

    .navbar .nav_toggle_btn {
        display: block;
    }

    .dropddown_menu{
        display: block;
        font-weight: 700;
    }

    .apresentacao{
        flex-direction: column-reverse;
    }
}

@media(max-width:576px){
    .dropddown_menu{
        left: 2rem;
        width: unset;
    }
}